.promotions {

    /* font-family: Roboto !important;
    font-size: 9px !important; */
    font-size: 12px !important;
}
.cookies {
    
    font-size: 8px !important;
}
@media only screen and (max-width: 600px) {
    .endOfFooter {
        position: relative;
        top: -104px;
    }
    .footer {
        height: 400px;
    }
}
